<h1 class="center">Welcome to Friends Bet on Golf! </h1>
<h5 class="center"> A match play golf calculator</h5>
<p class="center">Sign up, Create a round, and invite some friends!</p>
<br>
<h4 class="center"><a href="/users"> Sign up! </a></h4>
<br>
<div class="center sign-up">
  <p>Already Signed up?</p>
 <a href="/user_rounds">Join a Round </a>
 <br>
   or
   <br>
  <a href="/user_rounds">Create a new Round </a>
</div>
<br>
<p class="center">Set wagers for Hole wins, Longest Drives, and Closest to the pin and let Freinds bet on golf take care of the rest!</p>