
<div class="golf-cup">
<%= image_tag 'golfCup.jpg', alt: 'golf-cup', class: 'golf-image' %>
</div>
<%# <h1 class="center">Welcome to </h1> %>
<h1 class="center fbog-h1" style="color:white">Friends Bet on Golf! </h1>
<div class="center sign-up">
<h5 class="center"> A skins golf calculator</h5>
<p class="center">Sign up, create a round, and invite some friends!</p>
<br>
<h4 class="center"><a href="/signup"> Sign up! </a></h4>
<br>
  <p>Already signed up?</p>
  <h4><a href="/login">Login</a></h4>
  <p>To create or join a round.</p>

  
  
</div>

<br>
<div class="container">
  <p class="center">Set wagers for hole wins, longest drives, and closest to the pin. Enter your scores. Let friends bet on golf take care of the rest!</p>
</div>
