<div class="page">
<div class="golf-cup">
<%= image_tag 'golfCup.jpg', alt: 'golf-cup', class: 'golf-image' %>
</div>
<br>
<%# <h1 class="center">Welcome to </h1> %>
<%# <h1 class="center fbog-h1" style="color:white">Friends Bet on Golf! </h1> %>
<div class="center sign-up">
<h5 class="center calc-5"> SKINS GOLF CALCULATOR </h5> 
<h6 class="center"> Invite your friends + create a round</h6>

<div class="login-signup-box">
  <div class="login-box">
    <%# <h4><a href="/login">Login</a></h4> %>
     <a href="/login" role="button"  class="btn btn-success btn-login">Login</a>
  </div>
  <div class="signup-box">
    <%# <h4 class="center"><a href="/signup">Sign up</a></h4> %>
    <a href="/signup" role="button" class="btn btn-success btn-signup">Signup</a>
  </div>
</div>
    <p class="center">Set wagers for hole wins, longest drives, and closest to the pin. Enter your scores. Let friends bet on golf take care of the rest!</p>
</div>
<br>
</div>
<div class="home-container">

</div>
