/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .background-img {
   height: 100vh;
   /* background-image: linear-gradient(#fcfbcb,#e4e28b); */
   /* background-image: url("https://images.unsplash.com/photo-1544914379-806667cd9489?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z29sZiUyMGdyYXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
   /* opacity: 0.8; */
   border-radius: 5px;
 }

 table {
   width:95%;

   border: 1px solid black;
   background-color: #728155;
   border-collapse: collapse;
   padding: 10px;

 
 }

 th, td {
  border: 1px solid #81b32c;
  padding: 10px;
 }
 th {
  background-color: #81b32c;
  border: 1px solid black;

 }
 .user-rounds-input {
   display: flex;
   flex-wrap: nowrap;
 }
 h1 {
   padding: 10px;
 }

 .users-input {
   display: flex;
   flex-wrap: nowrap;
 }
 .btn {
  display: flex;
  margin: auto;
  text-decoration: none;
  background-color: #fcfbcb;
  border-radius: 5px;
  box-shadow: none;
  width: 50%;
  justify-content: center;
 }
 .btn:hover {
   color: black;
   background-color: #81b32c;
 }

 .btn-user{
   background-color: #fcfbcb;
   border-radius: 5px;
 }
 .btn-user:hover {
   background-color: #81b32c;
   
 }

@import "bootstrap-sprockets";
@import "bootstrap";