@media (max-width: 812px) {}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


body {
  background: rgb(217, 228, 217);
  background: radial-gradient(circle, rgb(217, 228, 217) 0%, rgba(132, 172, 132, 1) 100%);
}

.create-round {
  display: flex;
  width: 100%;
  justify-content: center !important;

}

.rounds-input {
  width: 40%;
  justify-content: center;
  text-align: center;
}


.navbar-brand {
  border-radius: 15px;
  padding: 5px;
}

.navbar-nav a:hover {
  color: rgb(2, 93, 24) !important;
}

.container-fluid {
  width: 100vw;
}

.page-header {
  text-align: center;
}

.form-control {
  align-items: center;
  width: 100%;
}

h1 {
  padding: 10px;
}

.users-input {
  display: flex;
  flex-wrap: nowrap;
}



.user-rounds-input {
  width: 65%;
  /* border: 3px solid green; */
  border-radius: 5px;

  margin: auto;
  text-align: center;
  -webkit-box-shadow: 10px 13px 5px 0px rgba(153, 153, 153, 0.22);
  -moz-box-shadow: 10px 13px 5px 0px rgba(153, 153, 153, 0.22);
  box-shadow: 10px 13px 5px 0px rgba(153, 153, 153, 0.22);
}

.user-round-table a {
  color: #1a7d09;
}

.user-round-table a:hover {
  color: #082503;
}

.golf-cup {
  margin-top: 0;
  width: 100vw;
  height: 5.2rem;
  margin-bottom: 1rem;
}

.golf-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(-35%);
}

.user-rounds-input-container {
  width: 90%;
  border-radius: 1px;
  margin: auto;
  padding: 1vw;
}

.btn {
  display: flex;
  margin: auto;
  text-decoration: none;
  background-color: white;
  color: tan;
  border: 1px solid tan;
  box-shadow: none;
  width: 50%;
  justify-content: center;
}

.btn:hover {
  color: black;
  background-color: tan;
  box-shadow: 2px 2px lightgrey;
  border: 1px solid tan;
}

.btn:active {
  box-shadow: 1px 1px black;
}

.user-btn {
  text-decoration: none;
  width: 50%;

}


.btn-primary {
  /* margin: 5px; */
  align-self: center;
  text-decoration: none;
}

.basic-table a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.users-index-container {
  width: 95vw;
}

.current-bets-table {
  width: 100vw;
  padding: 1rem;
}

.fbog-h1 {
  font-weight: 400;
  font-size: 10vw;
  color: green;

}

.sign-up {
  /* background-color: whitesmoke; */
  background-image: linear-gradient(to bottom, whitesmoke, rgb(216, 213, 213), whitesmoke);
  box-shadow: .1rem .2rem rgb(134, 133, 133);
  border: 1px solid black;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
}

.sign-up a {
  color: green;
  text-decoration: none;
}

.users-index {
  width: 95%;
}

.center {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn-round {
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* Tables  */
table {
  background-color: whitesmoke;
  color: black;
  margin: auto;
  min-width: 95%;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
}


table tr:nth-child(odd) {
  background-color: rgb(240, 231, 218);
}

table th {
  background-color: lightgray;
}

.user-round-table-container {
  display: block;
  border-radius: 15px;
  margin: 1vw;
  width: 100vw;
  max-width: 99%;
  padding: 1vw;
}

.user-round-table {
  align-items: center;
  width: 99vw;
  column-width: auto;
  border-radius: 15px;
  overflow: hidden;
  max-width: 99vw;
  margin-bottom: 4rem;
  overflow: hidden;
}

.user-round-table td {
  font-size: 14px;
  white-space: nowrap;
}

.create-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.users-create {
  width: 50%;
  text-align: center;
  justify-self: center;
  margin: 0 auto;
}

@media (max-width: 608px) {

  .user-round-table td:nth-child(6),
  .user-round-table th:nth-child(6) {
    display: none;
  }
}

.sign-up {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-round-table td {
  text-align: center;
  padding: .2rem;
}

.user-round-table th {
  padding: 1vw;
  margin-bottom: .8rem;
}

.rounds-table {
  min-width: 100%;
  border-radius: 15px;
  padding: 1rem;
  margin: auto;
}

.rounds-table td a {
  color: #1a7d09;
  font-weight: bold;
}

.rounds-table td a:hover {
  color: #000000;
  font-weight: bold;
}

.users-show {

  padding: 2rem;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  border-radius: 3vw;
}

.users-show-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  max-width: 97%;
}

.users-show td {
  padding-left: 0;
  padding: .9vw;
  border-top: 1px solid black;
  word-wrap: break-word;
  font-size: 1.8vw;
}

.users-show th {
  padding: .9vw;
  font-size: 2vw;
}

.users-show a {
  text-decoration: none;
  font-weight: 900;
  color: #03339b;
}

.rounds-table td {
  padding: .2rem;
  font-weight: bold;
}

.rounds-table th {
  padding: .3rem;
  font-weight: bold;
}

.rounds-table a {
  text-decoration: none;
}


.spacer {
  width: 100%;
  padding: 1rem;

}



.img-container {
  background-image: url("https://images.unsplash.com/photo-1587174486073-ae5e5cff23aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  width: 100vw;
  min-width: 99vw;
  height: 6rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.p-4 {
  padding-top: 1rem !important;
  height: 7.5rem;
}

.text-muted {
  text-align: center;
  font-size: 12px;
  bottom: 0;
  margin-top: 10px;
}




.col-lg-6 {
  padding-top: 0;
  text-align: center;
  width: 100vw;
}

footer {
  margin-top: 1em;
  width: 100vw;
  height: 50px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.container-footer {
  width: 100%;
  height: 4vh;
  margin-bottom: 10px;
  position: relative;
  justify-content: center;
}

.login-container {
  display: flex;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 15px;
  background-image: linear-gradient(whitesmoke, rgb(241, 241, 241), whitesmoke);
  box-shadow: .01rem .02rem rgb(228, 228, 228);
}

.login {
  justify-content: flex-end;
}

.end {
  width: 100%;
}