<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-footer my-5">

    <footer style="background-color: #deded5;">
    <div class="container p-4 footcontain">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Friends Bet on Golf</h5>
          <p>
            Keeping track of your golf game as well as friendly wagers with your friends!
          </p>
        </div>
        
      </div>
    </div>
    <div class="text-center center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright
      <a class="text-dark " href="https://github.com/derekpyoung/">Friends Bet on Golf</a>
      <p>Created By: Derek Young</p>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->